/**
 * 商品评价
 */
.goods-comment-item {
    padding-bottom: 10rpx;
}
.goods-comment-item .avatar {
    width: 50rpx;
    height: 50rpx;
    border-radius: 50%;
    border: 1px solid #e2e2e2;
}
.goods-comment-item .base-nav {
    width: calc(100% - 90rpx);
    line-height: 50rpx;
}
.goods-comment-item .base-nav text:not(:last-child) {
    margin-right: 5rpx;
}
.goods-comment-item .base-content .content,
.goods-comment-item .base-content .reply {
    line-height: 46rpx;
}
.goods-comment-item .base-content .images image {
    width: 100rpx;
    height: 100rpx;
}
.goods-comment-item .base-content .images image:not(:last-child) {
    margin-right: 10rpx;
}