/* #ifdef H5 */
body {
    background: #333 !important;
}
page {
    min-height: 100%;
}
page,
iframe,
.uni-page-head,
.uni-tabbar,
.open-location,
.home-top-nav-content,
.search-content-fixed,
.trn-nav-top,
.goods-buy-nav,
.popup-bottom,
.popup-top,
.quick-movable-container,
.online-service-movable-container,
.bottom-fixed {
    max-width: 800px !important;
    margin: 0 auto !important;
}
.trn-nav-top,
.goods-buy-nav,
.nav-more-view,
.quick-movable-container,
.online-service-movable-container {
    left: auto !important;
}
iframe,
.bottom-fixed {
    right: 0 !important;
}
/* #endif */

/**
 * 公共样式、框架样式覆盖
 */
page {
    background: #f5f5f5;
    color: #4a4a4a;
}
input[type="text"],
input[type="number"],
input[type="idcard"],
input[type="digit"],
textarea {
    -webkit-appearance: none;
    border-radius: 5px;
    box-sizing: border-box;
}
page,
textarea,
.a-textarea-control textarea {
    font-size: 28rpx;
}
button:after,
button:before {
    border: 0;
    border-radius: 0;
}

/**
 * 模块分割间距
 */
.spacing {
    padding-top: 20rpx;
}
.spacing-10 {
    padding-top: 10rpx;
}
.spacing-mb {
    margin-bottom: 20rpx;
}
.spacing-mt {
    margin-top: 20rpx;
}

/**
 * 常用样式
 */
.fl {
    float: left;
}
.fr {
    float: right;
}
.wh-auto {
    width: 100%;
}
.ht-auto {
    height: 100%;
}
.tc {
    text-align: center;
}
.tl {
    text-align: left;
}
.tr {
    text-align: right;
}
.oh {
    overflow: hidden;
}
.dis-none {
    display: none;
}
.dis-block {
    display: block;
}
.dis-inline {
    display: inline;
}
.dis-inline-block {
    display: inline-block;
}
.va-m {
    vertical-align: middle;
}
.pf {
    position: fixed;
}
.pa {
    position: absolute;
}
.pr {
    position: relative;
}
.radius-0 {
    border-radius: 0 !important;
}
.radius {
    border-radius: 10rpx !important;
}
.round {
    border-radius: 50rpx !important;
}
.circle {
    border-radius: 50% !important;
}
.fw-b {
    font-weight: bold;
}
.auto {
    margin: 0 auto;
}

/**
 * 透明度
 */
.opacity-min {
    opacity: 0.3;
}
.opacity {
    opacity: 0.5;
}
.opacity-max {
    opacity: 0.8;
}

/**
 * 底部浮动
 */
.bottom-fixed {
    position: fixed;
    left: 0;
    bottom: 0;
    border: none;
    width: 100%;
    box-sizing: border-box;
    z-index: 2;
}

/**
 * 主要类样式
 */
.margin-main {
    margin: 20rpx;
}
.margin-top-main {
    margin-top: 20rpx;
}
.margin-right-main {
    margin-right: 20rpx;
}
.margin-bottom-main {
    margin-bottom: 20rpx;
}
.margin-left-main {
    margin-left: 20rpx;
}
.margin-horizontal-main {
    margin-left: 20rpx;
    margin-right: 20rpx;
}
.margin-vertical-main {
    margin-top: 20rpx;
    margin-bottom: 20rpx;
}
.padding-main {
    padding: 20rpx;
}
.padding-top-main {
    padding-top: 20rpx;
}
.padding-right-main {
    padding-right: 20rpx;
}
.padding-bottom-main {
    padding-bottom: 20rpx;
}
.padding-left-main {
    padding-left: 20rpx;
}
.padding-horizontal-main {
    padding-left: 20rpx;
    padding-right: 20rpx;
}
.padding-vertical-main {
    padding-top: 20rpx;
    padding-bottom: 20rpx;
}
.border-radius-main {
    border-radius: 20rpx;
}

/**
 * 价格
 */
.sales-price {
    color: #f40;
    font-weight: bold;
    font-size: 36rpx;
}
.original-price {
    color: #999;
    font-size: 26rpx;
    text-decoration: line-through;
}

/**
 * 边框 灰色（四边）、红色、黄色、绿色、灰色、无边线
 */
.br {
    border: 1px solid #efefef !important;
}
.br-b {
    border-bottom: 1px solid #efefef !important;
}
.br-t {
    border-top: 1px solid #efefef !important;
}
.br-l {
    border-left: 1px solid #efefef !important;
}
.br-r {
    border-right: 1px solid #efefef !important;
}
.br-red {
    border:1px  solid #f00 !important;
}
.br-yellow {
    border: 1px solid #f6c133 !important;
}
.br-green {
    border: 1px solid #1AAD19 !important;
}
.br-gray {
    border: solid 1px #d6d6d6 !important;
}
.br-0 {
    border: 0 !important;
}

/**
 * 虚线边框、灰色（四边）、红色、黄色、绿色、灰色
 */
.br-dashed {
    border: dashed 1px #efefef !important;
}
.br-b-dashed {
    border-bottom: dashed 1px #efefef !important;
}
.br-t-dashed {
    border-top: dashed 1px #efefef !important;
}
.br-l-dashed {
    border-left: dashed 1px #efefef !important;
}
.br-r-dashed {
    border-right: dashed 1px #efefef !important;
}
.br-dashed-red {
    border: dashed 1px #f00 !important;
}
.br-dashed-yellow {
    border: dashed 1px #f6c133 !important;
}
.br-dashed-green {
    border: dashed 1px #1AAD19 !important;
}
.br-dashed-gray {
    border: dashed 1px #d6d6d6 !important;
}

/**
 * 统一颜色
 * 文本基础色、白色、黑色、灰色、浅灰色、红色、黄色、绿色、蓝色
 */
.cr-base {
    color: #666 !important;
}
.cr-white {
    color: #fff !important;
}
.cr-black {
    color: #000 !important;
}
.cr-gray {
    color: #888 !important;
}
.cr-grey {
    color: #9A9A9A !important;
}
.cr-red {
    color: #f00 !important;
}
.cr-yellow {
    color: #f6c133 !important;
}
.cr-green {
    color: #1AAD19 !important;
}
.cr-blue {
    color: #2196F3 !important;
}

/**
 * 统一背景色
 * 白色、绿色、红色、黄色、灰色
 */
.bg-white {
    background-color: #fff !important;
}
.bg-green {
    background-color: #1AAD19 !important;
}
.bg-red {
    background-color: #E64340 !important;
}
.bg-yellow {
    background-color: #f6c133 !important;
}
.bg-gray {
    background-color: #d6d6d6 !important;
}
.bg-base {
    background-color: #f5f5f5 !important;
}
button[disabled].bg-white {
    background-color: #fdfdfd !important;
    color: #ccc !important;
}
button[disabled].bg-green {
    background-color: #94de94 !important;
    color: #d5f5d5 !important;
}
button[disabled].bg-red {
    background-color: #ffbaba !important;
    color: #ffdfdf !important;
}
button[disabled].bg-yellow {
    background-color: #fff1cb !important;
    color: #fbd777 !important;
}
button[disabled].bg-gray {
    background-color: #ececec !important;
    color: #ababab !important;
}


/**
 * 分享组建样式
 */
.share-popup {
    padding: 20rpx 10rpx 0 10rpx;
    position: relative;
}
.share-popup .close {
    position: absolute;
    top: 20rpx;
    right: 20rpx;
    z-index: 2;
}
.share-popup-content {
    padding: 0 20rpx;
    margin-top: 40rpx;
    text-align: left;
}
.share-popup-content .share-items {
    padding: 30rpx 0;
    height: 85rpx;
}
.share-popup-content .share-items:not(:first-child) {
    border-top: 1px solid #f0f0f0;
}
.share-popup-content .share-items button {
    background: transparent;
    padding: 0;
    width: 100%;
    text-align: left;
    margin: 0;
}
.share-popup-content .share-items image {
    width: 80rpx;
    height: 80rpx;
    vertical-align: middle;
    margin-right: 20rpx;
}
.share-popup-content .share-items .single-text {
    width: calc(100% - 100rpx);
    line-height: 85rpx;
}

/**
 * 表单
 */
.form-container .form-gorup {
    padding: 20rpx;
    margin-bottom: 20rpx;
    border-radius: 20rpx;
}
.form-container .form-gorup-submit {
    padding: 20rpx 0;
}
.form-container .form-gorup:not(.form-gorup-submit) {
    background: #fff;
}
.form-container .form-gorup-title {
    margin-bottom: 5rpx;
    font-weight: 500;
}
.form-container .form-group-tips,
.form-container .form-group-tips-must {
    margin-left: 20rpx;
    font-size: 24rpx;
    color: #ccc;
}
.form-container .form-group-tips-must {
    color: #f00;
}
.form-container .form-gorup input,
.form-container .form-gorup textarea,
.form-container .form-gorup .picker {
    border-radius: 0;
    width: 100%;
    box-sizing: border-box;
    font-size: 28rpx;
}
.form-container .form-gorup input,
.form-container .form-gorup .picker {
    height: 70rpx;
    line-height: 70rpx;
}
.form-container .form-gorup textarea {
    padding: 0;
    height: 150rpx !important;
    margin-top: 20rpx;
}
.form-container .form-gorup-text {
    padding: 20rpx 10rpx;
}
.form-container .form-gorup .switch {
    margin: 30rpx 0 20rpx 0;
}

/**
 * 表单图片上传
 */
.form-container-upload .form-gorup-title {
    margin-bottom: 20rpx;
}
.form-container-upload .form-upload-data .item {
    margin: 10rpx 10rpx 0 0;
    position: relative;
}
.form-container-upload .form-upload-data .delete-icon {
    position: absolute;
    top: 0;
    right: 0;
    color: #e5e5e5;
    background-color: #d9534f;
    padding: 5rpx 18rpx;
    font-size: 36rpx;
    border: 1px solid #eee;
    border-radius: 50rpx;
    line-height: 44rpx;
}
.form-container-upload .form-upload-data image {
    width: 150rpx;
    height: 150rpx;
    padding: 5rpx;
    border: 1px solid #eee;
    display: block;
    border-radius: 10rpx;
}
.form-container-upload .upload-icon {
    margin-top: 10rpx;
    width: 160rpx;
    height: 160rpx;
    border: 1px dashed #e9e9e9;
    display: block;
    border-radius: 10rpx;
}

/**
 * 通知、公告
 */
.notice-content {
    background: #ffffeb url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAKN0lEQVR4Xu1beZAcZRX/vZ7NTn9DWJAjQKIYpKRSoqJCuHJMLwkQNjvdJEoIIMHSotRgIaIErJICpDwoCBYUFKApwYgp2Jhjejabg4Tt3oTEKkhREg4NxVUqQjgEEqZ7j+ln9exOT3dPz/bsJrs7hPSf813v/b7fe+/73vuG8Cn/6FOuPw4BcIgBY4xAT3vz6QXHuVCSSE+2Gs+PtjhjZgLcdknClvc8DNCVRaWZ90oSnZnMGP8YTRDGBADOnTfJdpxlIMwJKMv8R6GZ3zuoAchnm6eBHJ1AR4UVZWY9pZnaQQuAnW2ey3BWgkhEKcngXEo11YMOAGZIVk65npjvAJFUTcFaGWDpM08CS0tAfCKDbk+pxt+GC9qI+wBrjTKZE/w4gc6sEJJ5N4hOKf1eKwMsXdkMYNbAuD4Gfp5SjbuGA8KIAtCdS89zHFoOwvgIe19JxDcC0qseADX6AEtXXgIwxT8nA+0i2biQLtz08VCAGBEAuO3URit57FIi/KhSGGaAbhaq8SveMOMEuyfxZpkBaE+pRiZOASurfBvEywEKyM/ATlHAbJpnfBA3R6n9gAPQT3msJeC0CMq7sX5RMmOsLYb+EABgrBOa0VqL8PZaZbYj8QoCHRsKpS/Khd5mmr99Ty3zHFAAijsDPBBFeTDvArEm1K7XvB0fJgO88euU4+0CVgKYHlSWd8gZczoRnDgQagKAOxXZ3oezq01GjPHMfAOIZlYJb/eKhtQSalnfHbDb/WCAB0LHRUm711oFwlz/3MR8p6yZS4YMgKU3pxl8TySF42YLtTP4HYlpkawZGyKBCQMA7hCqGVCkliW5U2mwPuJVRBQ4QxCxKmfM3GBzVDDAyirbQJhWy8KD9+FNMtEVlDHerdZvf3xARVTpVBrsvbwRoPN8UWWPSI07hc7f/GFV9oYbLF15HcDnhwuAu+tEuFFkzIfj5uB+G/5vuR+vF6rZEh5nr5t+CrGUSLZ2ueGv6scbLzjMsru3EtHXvU7My4VmXjXiADD4aQm0Iml3P0QLdlhxyrvtFQAwNgjNuMg/Np9VVhLhW2B2QLhZqOavB5u7O6dMcRw8D0LCY4LkTEu1dm2PGldpAkEG9MncexRpT+2tRaGh9oljAK9RjrQT+J9/XmZeI5rocmo27Grr2dn0Uia63gMAyKZU4+IhA8DMe1KaedxQFau1fxwD+u8Q6Xcqb468Q7Z7ZlVjGncq4+2P+E0QHd4vi3v44pP9Ibgk46AMYODtlGocX6tCQ+0XAcBGoRmBHEE+lz4HDv5KRBMDTHCPvhlDJQJHrWvpym8A3OSxgPmBlGYuDvetLwDAm4RqXhgWknOnpyw+fDkB3/S3EfNiWTMfiAKAs7OOs6nwbwANRQ6A3xf2hAm0YGUhMEd4sD8KjDgD+oV8q+yxUcGA8g5CsvT0mkCsZ+yTC4nJNH/Le1Eg5HUlR0D5aE00W2Q6t9QvAFUY4IHgOkWJnwPR58pK8C+Fat5SxQy+A8Afjh8SqvGDegbgCaGaFwzmS2xdaWXAO931U/vdE2jBCz0VptNxVpPdK94vhUQGP5dSzcAlbWx9QKUJbBaacX6cM7V0xU2fn+p5cnLmypmujkgWZNMvgOhLA8HAkSftk+mMnb31EQXCAIBjGeAKbuvK9xl40KfwMqEaV0ebQXoFQJeV2hLsfKNR63q2PgFg1MSA4gFJ4vd8+cUXhGp8ORKAnHITGG5IHCABLktpxmP1AcDqcyfYDY1v+wTfIlRjdpwJuO1WmNrjUqnwdbu/n3IVCI94CodC59j6gAoA+EmhmqVk56A4WHp6HUDli1NCmizmPvlGeFC33qw54GIGauD7hZuO++QzQFdcGl/q2TbR1xoznX8PA2DlFAWMTp/Cd8mqcUOdAlA7A/LZdNZ/KCKmKbLW+c8wAHZWmcOE9d7vjNuEZtxaHwB0zDjW7kuUk5fMnUIzvYTGYDaQzypPE+GMUh+5oTCBWra+Ex6T19OXEWhFWWH+saya936iAeBnTh9n/2f8xyAa1+/a8aHQjCOjALP19GIG3V9u40VCNf/8iQbA1mdewJA2+mhd9Q6R15XfEXCd15cwQ2SMbfUJAGAI1WiOC4NWNv0nEC0qhzZcJ2vGPVHjLF1xHaDimQrtPYwyO/P1CoApVMMTNkohzk6baNM4N9wVr7nFr0oIdJvyevp9An1mwFReF5pxkn/esT0HhJ0gEAtAXlfWEOBLb3GbUE0vHPqV61nbfFZBYq9yzMwrU5q5oH4AyCnH2Iyy52buEpqZrmYCVjZ9NYh+77P9gsSFryYv3vpitANU7mTgZ6U2JixMZYzH6xmArUIzI6tLtp6+iEFrACTLtl+9+uPmE+1c+jWATuynP/fK3T1HhPOIY2sCNTDALct1f8S3FXfS/7iCeZcs7Tvb79D8O2tllStAeNTbfebVKc0MpNTctvoCANgmVGOGJ7RbZpeP2UagqSGKvyFz4izStvgvUmXLcHdfV3aDcLL3I6FZZAwjbCoxdQHOC9U8rJpN7u/vvHrW0XZDoVw6YzwlNMOr9ObbZ55LjvSUfx1mflYUeucMVv62dMV9abbMN+55oRpfiZI3rjDijnkEjIpbVlXliV+RM+ZfailNxwHAbkqrT/4XQE39Zoz7xaS9P/FndMJyuLkCS8JrRPBOhgzn0pTa1TZcAIaz0SYS0lVR19PAblYwgLcLzQwUZvMdymepD7dKhPbSw4rBBLKyyqMgXOGzh12yap5WrX4QwYD0boC+OBytQ2O6GbglpRp3VJurkgGVAAxFDjunXMOM+/xjEoypjZrxTLV5KgDIZ5X7iHDNUBYevC+3ycnkd6MeL8WZwFBksHLKdDgw/EVR1w9UyxWW5q4AwL1p9bzZ1OIwl0vMNUrChIujH1bwy5LEWri8zRVhMOgEa1wWVnt6Bhxy7/w+h80vycnk1LhXYzU9kalVEGaQlVN+SozfhnbCdWF5CdLlSbUz64W5ypxgIAzWsq6dm9nCLK32H5AYeAsNmJpqMdzS2KDfAQWgtJJLR3awlghHB1d3q7S4vVTJGajflUtjoXPAYJIPlM7dx5GBx9XM+KAhQbMbWzt3xinvto8IAO7E7nM5SLzR/xK07JnxmNyEK5HHMYEXIsxVj8J+ZdzzARxpFQGByrVbzk9IlB7Kk/sRA8AVmJ+YfYSd73schIqKL8DrielaJrzsC1k1AWDpyi4AoToAv4oCzRLzDPeJT83fiAJQBKHtkoQl77mbQNdWSMV4JXBcjbkNeiamh0I1Y53chIXUbOyrWfOBjiMOQEkgO5v+IRPuDz9vDQhcIwDFAinzUoAmMuG24T6UHlEfELUTxSIFO20gaqyyU7EJkaHucFz/UWNAIEIwu/8Y6U9TBb+DHwBXX7t9+he4kFhfGSGin8jE7eL+tI86A0rCFiOE1dfuf+gsEc9PZkw36zNq35gB0B8hzhF2MvkHECYx4cFwvm40UBhTAEZDwbg1DgEQh9DB3v5/c3FujBE8RpQAAAAASUVORK5CYII=') no-repeat 20rpx 12rpx;
    background-size: 34rpx;
    color: #ffa106;
    border: 1px solid #faebd2;
    line-height: 38rpx;
    padding: 10rpx 20rpx 10rpx 66rpx;
    font-size: 26rpx;
    border-radius: 20rpx;
}
.notice-content-blue {
    background: #def2fd;
    border: 1px solid #cfeeff;
    color: #1490d2;
    padding: 10rpx 20rpx;
    font-size: 26rpx;
    border-radius: 22rpx;
}

/**
 * 箭头符号
 */
.arrow-right {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAA+klEQVRYR+3WsWrDMBAG4P/eotCQLlk73UGfq6O3BgLNEsg7JQQPZ7ADfos8gAeBijYTAsnpREJBXmX0f/7RCRNe/NCL81EBtYH/1YCq/gK4iMiu1PSYGlDVloi+AOyZ+bsEwgQYx/FtmqYDgFUphAmQvniOiDFuRaTxNGEGlEZkAWaIFsCHp4lsQEIMw7AIIRw9CBfgGgFgzcw/ljPhBtxoohGR7aOIIoC+799DCCciWsYYnwvwhKeWXA14w12AEuHZgFLhWYCS4WbAPDxn5m+NpukQquqZiD49V+81wgToum6TfkiYef/oRXPvPRPg3mY56xVQG6gN/AEiuagh/yEjYQAAAABJRU5ErkJggg==');
    background-size: 38rpx 38rpx;
    background-repeat: no-repeat;
    background-position: center right;
}
.arrow-bottom {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABRklEQVRYR+2UsUrFMBSGT9LBN3AQR4vQNO0gPoA6Cy5XZ1ddfZbr6nwdXFwVH8AlJacg2cTFN7BLjkQQwtW2STvcJRlL8/8fX3LCYMOLbbgfEkAykAwkA4MGEHEhhLif81gZY3bzPP/oy+gFQMSCiJCIjqSUL1MgjDFbXdd9AcB1WZbL/zIGDWitVwCwmAKhlNrOsuyTMYYAcC6EaKMB3IZfCMbYiRDiOcQEIu4RkRkrd1lBU+CZOJVSPg5BNE1zwDl/DSkPBvBNENGFlNIdzZ+FiMdE9BRaHgXgQ1hrL6uquvMJ2rY9s9Y+xJRHA/gQnPOroihu3Tc3rkS0ii2fBLB2MW8A4H1q+WQAH+InZGTUhi5t0BT0BWitDQDsMMYO++Z8bGxnAbhwpdR+XddvY0XRT/HUwNh9sw3EFq7/nwCSgWQgGfgGWR6PIRYTYskAAAAASUVORK5CYII=');
    background-size: 38rpx 38rpx;
    background-repeat: no-repeat;
    background-position: center right;
}

/**
 * 信息提示、加载页面图片
 */
.data-loding image {
    width: 120rpx;
    height: 120rpx;
    background-size: 80% 80% !important;
}

/**
 * 元素漂出可视页面
 */
.drift {
    position: fixed;
    left: -1000px;
}

/**
 * 导航分割
 */
.spacing-nav-title {
    height: 80rpx;
    line-height: 80rpx;
}
.spacing-nav-title .text-wrapper {
    display: inline-block;
    font-size: 36rpx;
    font-weight: bold;
    color: #333;
}

/**
 * 文字超出部分使用省略号
 */
.single-text {
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
}
.multi-text {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    min-height: 76rpx;
    line-height: 38rpx;
    font-size: 28rpx;
    white-space: initial;
}

/**
 * 基础导航
 */
.nav-base {
    height: 80rpx;
    line-height: 80rpx;
}

/**
 * 滚动标签高度
 */
.scroll-box {
    height: 100vh;
    /* #ifdef H5 */
    height: calc(100vh - 44px);
    /* #endif */
}

/**
 * 存在基础导航
 */
.scroll-box-ece-nav {
    height: calc(100vh - 80rpx);
    /* #ifdef H5 */
    height: calc(100vh - 80rpx - 44px);
    /* #endif */
}

/**
 * 滚动水平左右滑动
 */
.scroll-view-horizontal {
    white-space: nowrap;
    box-sizing: border-box;
    width: 100%;
}

/**
 * 公共操作栏按钮样式
 */
.item-operation button:not(:first-child) {
    margin-left: 20rpx;
}
.item-operation button {
    padding: 0 35rpx;
    height: 58rpx;
    line-height: 58rpx;
    display: inline-flex;
}