.ranking-list .ranking-item {
    width: 65vw;
}
.ranking-list .goods-list .goods-image {
    width: 100rpx;
    height: 100rpx;
}
.ranking-list .goods-list .goods-title {
    width: calc(100% - 120rpx);
}
.ranking-list .goods-list .single-text {
    width: 59vw;
}
.ranking-list .goods-list .icon {
    width: 38rpx;
}