/**
 * 边线 搭配色、次主色、主色
 */
.border-color-main-pair {
    border-color: #795548 !important;
}
.border-color-main-light {
    border-color: #fde4d1 !important;
}
.border-color-main {
    border-color: #fe6f04 !important;
}

/**
 * 边框 搭配色、次主色、主色
 */
.br-main-pair {
    border: 1px solid #795548 !important;
}
.br-main-light {
    border: solid 1px #fde4d1 !important;
}
.br-main {
    border: 1px solid #fe6f04 !important;
}

/**
 * 虚线边框 搭配色、次主色、主色
 */
.br-dashed-main-pair {
    border: dashed 1px #795548 !important;
}
.br-dashed-main-light {
    border: dashed 1px #fde4d1 !important;
}
.br-dashed-main {
    border: dashed 1px #fe6f04 !important;
}

/**
 * 文本颜色 搭配色、次主色、主色
 */
.cr-main-pair {
    color: #795548 !important;
}
.cr-main-light {
    color: #fde4d1 !important;
}
.cr-main {
    color: #fe6f04 !important;
}

/**
 * 背景色 搭配色、次主色、主色
 */
.bg-main-pair {
    background-color: #795548 !important;
}
.bg-main-light {
    background-color: #fde4d1 !important;
}
.bg-main {
    background-color: #fe6f04 !important;
}
button[disabled].bg-main-pair {
    background-color: #b5a29c !important;
    color: #8c766f !important;
}
button[disabled].bg-main-light {
    background-color: #fbe9dc !important;
    color: #f7c49e !important;
}
button[disabled].bg-main {
    background-color: #f7cdad !important;
    color: #f7efea !important;
}