page {
    background: #fff;
    
}
/**
 * 基础
 */
.content {
    padding-top: 8%;
}
.content .icon {
    width: 150rpx;
    height: 150rpx !important;
}

/**
 * 表单内容
 */
.form-content {
    padding: 2% 40rpx 0 40rpx;
}
.form-content .form-item,
.form-content .code,
.form-content .verify {
    border-bottom: solid 1px #eee;
}
.form-content .form-item,
.form-content .code input,
.form-content .verify input {
    font-size: 28rpx;
    color: #4e4e4e;
    height: 40px;
    line-height: 40px;
    border-radius: 0;
}
.form-content .code input,
.form-content .verify input {
    width: 63%;
}
.form-content .code .verify-submit {
    width: 35%;
    height: 35px;
    line-height: 35px;
    top: 0;
    right: 0;
}
.form-content .verify .verify-image {
    width: 35%;
    height: 35px;
    line-height: 35px;
    top: 0;
    right: 0;
}
.opt-type-list text:not(:last-child) {
    margin-right: 50rpx;
}

/**
 * 第三方登录 - 插件
 */
.plugins-thirdpartylogin .item {
    width: 35rpx;
    height: 35rpx;
    padding: 5rpx;
}
.plugins-thirdpartylogin .item:not(:last-child) {
    margin-right: 10rpx;
}
.plugins-thirdpartylogin .item image {
    width: 25rpx !important;
    height: 25rpx !important;
}
.plugins-thirdpartylogin-bind image {
    width: 40rpx !important;
    height: 40rpx !important;
}
.plugins-thirdpartylogin-bind button {
    line-height: 40rpx;
}