.page {
    padding-bottom: 120rpx;
}

/**
* 地址
*/
.address-base,
.address-detail {
    padding-right: 40rpx;;
}
.address-detail .icon {
    width: 30rpx;
    height: 35rpx !important;
}
.address-detail .text {
    width: calc(100% - 40rpx);
}
.address-alias,
.goods-group-alias,
.goods-group-map-submit {
    padding: 0 15rpx;
    line-height: 40rpx;
}

/**
* 商品
*/
.goods-group-list .goods-content .goods-item:not(:last-child) {
    border-bottom: 1px dashed #efefef;
}
.goods-group-icon {
    width: 30rpx;
    height: 30rpx;
}
.goods-group-title {
    font-weight: bold;
    vertical-align: middle;
}
.goods-group-alias {
    border: 1px solid #3bb4f2;
    color: #3bb4f2;
}
.goods-image {
    width: 160rpx;
    height: 160rpx;
    margin-right: 20rpx;
}
.buy-number {
    right: 0;
    bottom: 0;
}
.goods-base {
    min-height: 160rpx;
    margin-left: 180rpx;
}

/**
* 导航
*/
.buy-nav {
    position: fixed;
    left: 0;
    bottom: 0;
}
.buy-nav,
.nav-base {
    height: 100rpx;
    line-height: 100rpx;
}
.nav-submit button {
    height: 72rpx;
    line-height: 72rpx;
}
.nav-base {
    width: calc(60% - 20rpx);
}
.nav-submit {
    width: calc(40% - 40rpx);
}

/**
* 支付方式
*/
.payment-list .item {
    width: calc(50% - 10rpx);
}
.payment-list .item:nth-child(2n) {
    float: right;
}
.payment-list .item:nth-child(2n+1) {
    float: left;
}
.payment-list .item-content {
    padding: 20rpx 10rpx;
}
.payment-list .item-content image {
    width: 50rpx;
    height: 50rpx !important;
}

/**
* 扩展数据
*/
.extension-list {
    background-color: #ffffeb;
    border: 1px solid #ffe2cf;
}
.extension-list .item:not(:last-child) {
    border-bottom: 1px dashed #ffe2cf;
}
.extension-list .item .text-tips {
    color: #ff8f44;
}

/**
* 留言
*/
.content-textarea-container {
    height: 100rpx;
}
.content-textarea-container view,
.content-textarea-container textarea {
    height: 100% !important;
}
.content-textarea-container textarea {
    padding: 5rpx 0;
}

/**
* 销售+自提 模式选择
*/
.buy-header-nav .item {
    padding: 25rpx 0;
    width: 50%;
}

/*
* 插件样式区域
*/
/*
* 优惠劵
*/
.plugins-coupon {
    padding: 25rpx 40rpx 25rpx 10rpx;
}
.plugins-coupon-popup {
    padding-top: 20rpx;
}
.plugins-coupon-popup .close {
    margin-right: 20rpx;
}
.plugins-coupon-container {
    max-height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.plugins-coupon-container .item,
.plugins-coupon-container .v-right,
.plugins-coupon-container .v-right .circle {
    height: 230rpx;
}
.plugins-coupon-container .not-use-tips {
    color: #f7b240;
    font-size: 32rpx;
}

/*
* 积分
*/
.plugins-points-buy-container {
    padding: 20rpx;
}
.plugins-points-buy-container .select .icon {
    width: 35rpx;
    height: 35rpx !important;
    vertical-align: middle;
}
.plugins-points-buy-container .select .sales-price {
    margin-left: 30rpx;
    font-size: 28rpx;
    font-weight: 400;
}
.plugins-points-buy-container .desc {
    color: #F37B1D;
}