/**
* 地址
*/
.address-base,
.address-detail {
    padding-right: 40rpx;
    ;
}
.address-detail .text {
    width: calc(100% - 40rpx);
}
.address-alias,
.goods-group-alias,
.goods-group-map-submit {
    padding: 0 15rpx;
    line-height: 40rpx;
}

/**
* 商品
*/
.goods-group-icon {
    width: 30rpx;
    height: 30rpx;
}
.goods-group-title {
    font-weight: bold;
    vertical-align: middle;
}
.goods-group-alias {
    border: 1px solid #3bb4f2;
    color: #3bb4f2;
}
.goods-image {
    width: 168rpx;
    height: 168rpx;
    margin-right: 20rpx;
}
.buy-number {
    right: 0;
    bottom: 0;
}
.goods-base {
    min-height: 168rpx;
    margin-left: 180rpx;
}

/**
* 导航
*/
.bottom-fixed .nav-base {
    width: 60%;
}
.bottom-fixed .nav-submit {
    width: 40%;
}
.bottom-fixed .nav-submit .btn {
    height: 70rpx;
    line-height: 70rpx;
}

/**
* 支付方式
*/
.payment-list .item-content {
    padding: 20rpx 0;
}
.payment-list .item-content .icon {
    width: 40rpx;
    height: 40rpx !important;
}
.pay-tips {
    height: 32rpx;
    line-height: 32rpx;
    display: inline-block;
    position: absolute;
    top: 12rpx;
    color: #fff;
    padding: 0 12rpx;
    border-radius: 16rpx 0 16rpx 0;
    font-size: 20rpx;
    background: #D8D8D8 linear-gradient(107deg, #FC6F31 0%, #E22C08 100%);
}

/**
* 扩展数据
*/
.extension-list {
    background-color: #ffffeb;
    border: 1px solid #ffe2cf;
}
.extension-list .item:not(:last-child) {
    border-bottom: 1px dashed #ffe2cf;
}
.extension-list .item .text-tips {
    color: #ff8f44;
}

/**
* 留言
*/
.content-textarea-container .content {
    height: 100rpx;
}
.content-textarea-container .textarea-view,
.content-textarea-container .textarea {
    height: 100% !important;
}
.content-textarea-container .textarea {
    padding: 5rpx 0;
}

/**
* 销售+自提 模式选择
*/
.buy-site-model .item {
    padding: 25rpx 0;
    width: 50%;
}
.buy-site-model.count-3 .item {
    width: 33.33%;
}
.buy-site-model.count-4 .item {
    width: 25%;
}
.buy-site-model.count-5 .item {
    width: 20%;
}

/**
 * 数据列表项
 */
.buy-data-item,
.buy-data-item .right-value {
    line-height: 80rpx;
}
.buy-data-item .right-value {
    width: calc(100% - 260rpx);
}
.buy-data-item .right-value .right-value-content {
    width: calc(100% - 32rpx);
}

/*
* 插件样式区域
*/
/*
* 优惠劵
*/
.plugins-coupon-popup {
    padding-top: 20rpx;
}
.plugins-coupon-popup .close {
    margin-right: 20rpx;
}
.plugins-coupon-container {
    max-height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.plugins-coupon-container .item,
.plugins-coupon-container .v-right,
.plugins-coupon-container .v-right .circle {
    height: 230rpx;
}
.plugins-coupon-container .not-use-tips {
    color: #f7b240;
    font-size: 32rpx;
}

/*
* 积分
*/
.plugins-points-buy-container {
    padding: 20rpx;
}
.plugins-points-buy-container .select .sales-price {
    margin-left: 30rpx;
    font-size: 28rpx;
    font-weight: 400;
}
.plugins-points-buy-container .desc {
    color: #F37B1D;
}

.plugins-points-use-value {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    width: 130rpx;
    height: 38rpx;
    line-height: 38rpx;
}

.plugins-points-use-submit {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    height: 42rpx !important;
    line-height: 42rpx !important;
}

/**
 * 门店次卡-页面选择
 */
.plugins-realstore-container-view .image {
    width: 34rpx;
    height: 34rpx !important;
}

/*
 * 门店次卡-弹窗选择
 */
.plugins-realstore-container {
    max-height: 80vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.plugins-realstore-container .item {
    overflow: hidden;
    height: 220rpx;
}
.plugins-realstore-container .v-left {
    width: calc(100% - 140rpx);
    padding: 30rpx 0 30rpx 20rpx;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.plugins-realstore-container .v-left .base {
    font-family: arial;
    color: #D2364C;
}
.plugins-realstore-container .v-right {
    width: 140rpx;
    height: 220rpx;
    font-weight: 500;
}
.plugins-realstore-container .v-right:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.plugins-realstore-container .item-disabled .v-right {
    background: #dfdfdf !important;
    color: #c0c0c0 !important;
    cursor: no-drop !important;
}


/**
 * 留言快捷选择 - 智能工具箱
 */
.plugins-intellectstools-data-note-fast .note-fast-data-list {
    width: calc(100% - 112rpx);
}