.page {
    padding-bottom: 120rpx;
}
.address .item-icon {
    width: 30rpx;
    height: 35rpx !important;
}
.address-alias {
    padding: 2rpx 10rpx;
}
.address .text {
    line-height: 44rpx;
    width: calc(100% - 40rpx);
}
.operation .default image {
    width: 35rpx;
    height: 35rpx !important;
}
.operation button {
    padding: 0 35rpx;
    display: inline-flex;
}
.operation .submit-items button:not(:first-child) {
    margin-left: 20rpx;
}
.submit-list button {
    width: calc(50% - 10rpx);
}