.page {
    padding-bottom: 100rpx;
}

/**
 * 顶部导航内容
 */
.top-nav-left-icon,
.top-nav-right-icon {
    top: 28px;
    z-index: 11;
}
.top-nav-left-icon {
    left: auto;
    margin-left: 20rpx;
}
.top-nav-right-icon {
    right: 20rpx;
}
.top-nav-left-icon .icon,
.top-nav-right-icon .icon {
    background: rgb(255 255 255 / 70%);
    width: 25px;
    height: 25px;
    line-height: 25px;
    display: block;
    float: left;
    text-align: center;
    padding: 3px;
}
.top-nav {
    position: absolute;
    bottom: 24rpx;
    width: calc(100% - 40rpx);
    /* #ifdef H5 || APP */
    bottom: 6px;
    padding-bottom: 5px;
    /* #endif */
}
.top-nav-content {
    margin: 0 auto;
    width: 310rpx;
    margin-left: calc(50% - 170rpx);
}
.top-nav-content text {
    font-size: 32rpx;
    /* #ifdef H5 || APP */
    font-size: 14px;
    /* #endif */
}
.top-nav-content text:not(:last-child) {
    margin-right: 30rpx;
}
.top-nav-content .nav-active {
    font-weight: 700;
    padding-bottom: 5rpx;
    padding-bottom: 5rpx;
    border-style: solid;
    border-width: 0 0 2px 0;
    font-size: 34rpx;
    /* #ifdef H5 || APP */
    font-size: 16px;
    /* #endif */
}

/**
 * 顶部更多导航
 */
.nav-more-view {
    position: fixed;
    z-index: 20;
    top: 62px;
    left: 20rpx;
}
.nav-more-view .triangle {
    width: 0;
    height: 0;
    border-width: 0 5px 5px 5px;
    border-style: solid;
    border-color: transparent transparent rgb(0 0 0 / 0.7) transparent;
    top: -5px;
    left: calc(20rpx + 42px);
}
.nav-more-view .content {
    background: rgb(0 0 0 / 0.7);
}
.nav-more-view .content .item {
    font-size: 12px;
}
.nav-more-view .content .item:not(:last-child) {
    border-bottom: 1px solid #585858;
}

/**
 * 相册
 */
.goods-photo .swiper,
.goods-photo .swiper-item {
    height: 55vh !important;
    display: block;
}

/**
 * 购买操作导航
 */
.goods-buy-nav {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 100rpx;
    z-index: 2;
}
.goods-buy-nav .bus-items {
    width: 40%;
}
.goods-buy-nav .bus-items .item  {
    width: 33.33%;
    position: relative;
}
.goods-buy-nav .btn-items {
    width: calc(60% - 10rpx);
    padding: 10rpx 0;
}
.goods-buy-nav .bus-items,
.goods-buy-nav .btn-items {
    height: 100rpx;
}
.goods-buy-nav .btn-items .item {
    height: 80rpx;
    line-height: 80rpx;
    font-size: 30rpx;
    padding: 0 10rpx;
    margin-right: 15rpx;
    position: relative;
}
.goods-buy-nav image {
    width: 40rpx;
    height: 40rpx;
    margin: 10rpx 0 5rpx 0;
}
.goods-buy-nav .dis-block {
    margin-top: -10rpx;
}
.goods-buy-nav .badge-icon {
    position: absolute;
    top: 2rpx;
    left: calc(50% + 25rpx);
    z-index: 1;
}
.goods-buy-nav-btn-number-0 .item,
.goods-buy-nav-btn-number-1 .item {
    width: calc(100% - 15rpx) !important;
}
.goods-buy-nav-btn-number-2 .item {
    width: calc(50% - 15rpx) !important;
}
.goods-buy-nav-btn-number-3 .item {
    width: calc(33.33% - 15rpx) !important;
}
.goods-buy-nav-btn-number-4 .item {
    width: calc(25% - 15rpx) !important;
}
.goods-buy-nav-btn-number-5 .item {
    width: calc(20% - 15rpx) !important;
}
.goods-buy-nav-btn-number-6 .item {
    width: calc(16.66% - 15rpx) !important;
}
.goods-buy-nav-btn-number-7 .item {
    width: calc(14.28% - 15rpx) !important;
}
.goods-buy-nav-btn-number-8 .item {
    width: calc(12.5% - 15rpx) !important;
}
.goods-buy-nav-btn-number-9 .item {
    width: calc(11.11% - 15rpx) !important;
}
.goods-buy-nav-btn-number-10 .item {
    width: calc(10% - 15rpx) !important;
}

/**
 * 商品基础
 */
.goods-base-content .goods-title-content {
    position: relative;
    min-height: 86rpx;
}
.goods-base-content .goods-title {
    font-size: 36rpx;
    line-height: 52rpx;
    font-weight: bold;
    width: calc(100% - 100rpx);
}
.goods-base-content .goods-share {
    position: absolute;
    top: calc(50% - 40rpx);
    right: 20rpx;
}
.goods-base-content .goods-share image {
    width: 50rpx;
    height: 50rpx;
}
.goods-base-content .base-grid view {
    width: calc(33.33% - 1px);
}

/**
* 视频
*/
.goods-video {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
.goods-video video {
    width: 100%;
    height: 55vh !important;
}
.goods-video-submit {
    left: 50rpx;
    top: auto;
    bottom: 60rpx;
    z-index: 2;
}
.goods-video-submit image {
    width: 80rpx;
    height: 80rpx !important;
}

/**
 * 基础价格信息
 */
.goods-base-price {
    height: 145rpx;
    overflow: hidden;
}
.price-content,
.countdown-content {
    box-sizing: border-box;
    position: relative;
    height: 100%;
}
.price-content .price-icon {
    margin-right: 5rpx;
    padding: 1px 5px;
    background: #FF5722;
    color: #fff;
}
.price-content .sales-price {
    font-size: 42rpx;
}

/**
 * 弹窗基础
 */
.goods-popup,
.goods-popup-base{
    position: relative;
}
.goods-popup .close {
    position: absolute;
    top: 20rpx;
    right: 20rpx;
    z-index: 2;
}
.goods-popup-base {
    height: 230rpx;
}
.goods-popup-base image {
    width: 200rpx;
    height: 200rpx;
    position: absolute;
    left: 0;
    top: 0;
}
.goods-popup-base-content {
    position: absolute;
    left: 220rpx;
    bottom: 30rpx;
}
.goods-popup-base-content .goods-price {
    margin-bottom: 10rpx;
}
.goods-popup-content {
    max-height: 50vh;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 20rpx;
}
.goods-spec-choose .item {
    margin-bottom: 30rpx;
    padding-bottom: 30rpx;
}
.goods-popup-content .title {
    font-size: 36rpx;
}
.goods-spec-choose .item .spec button {
    
    margin-right: 25rpx;
    padding: 0 30rpx;
    background-color: #f5f5f5;
    color: #666;
    height: 60rpx;
    line-height: 50rpx !important;
    border: 1px solid #ccc;
}
.goods-spec-choose .item .spec button image {
    width: 40rpx;
    height: 40rpx !important;
}
.spec-dont-choose {
    color: #b4b3b3 !important;
    background-color: #ffffff !important;
    border: 1px solid #ebeaea !important;
}
.spec-dont-choose image {
    opacity: 0.5;
}
.spec-items-disabled {
    color: #d2cfcf !important;
    background-color: #ffffff !important;
    border: 1px dashed #d5d5d5 !important;
}
.spec-items-disabled image {
    opacity: 0.3;
}
.goods-spec-choose .item .spec button,
.goods-popup-submit {
    border-radius: 50rpx;
}
.goods-popup-submit {
    height: 85rpx;
    line-height: 85rpx;
    font-size: 36rpx;
    margin-top: 20rpx;
    border: 0;
}
.goods-popup .goods-buy-number {
    margin-bottom: 20rpx;
    position: relative;
    height: 70rpx;
}
.goods-popup .goods-buy-number .title {
    line-height: 60rpx;
}
.goods-popup .number-content {
    position: absolute;
    right: 20rpx;
    top: 0;
    background: #eee;
    border-radius: 2px;
    border: 1px solid #eee;
}
.goods-popup .number-content .number-submit {
    width: 80rpx;
    font-weight: bold;
}
.goods-popup .number-content input {
    width: 50px;
    background: #fff;
    border-radius: 0px;
}
.goods-popup .number-content .number-submit,
.goods-popup .number-content input {
    padding: 0;
    vertical-align: middle;
    height: 60rpx;
    line-height: 60rpx;
}

/**
 * app独立内容
 */
.goods-detail-app .content-items view {
    padding: 15rpx 10rpx;
    line-height: 44rpx;
    font-size: 32rpx;
}

/**
 * 价格信息与秒杀结合
 */
.goods-base-price-countdown .price-content {
    background: #f9534e;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 60%;
    float: left;
}
.goods-base-price-countdown .price-icon { 
    margin-right: 0;
    padding: 0px 3px;
    border: 1px solid #fff;
    background: transparent;
    position: absolute;
    right: 20rpx;
    bottom: 20rpx;
    font-size: 24rpx;
}
.goods-base-price-countdown .sales-price {
    color: #fff;
}
.goods-base-price-countdown .original-price {
    color: #ffcece;
}
.goods-base-price-countdown .countdown-content {
    background: #e84742;
    width: 40%;
}
.countdown-content .time-title {
    font-size: 38rpx;
    margin-bottom: 10rpx;
}

/**
 * 栏目右侧内容
 */
.column-right-view {
    width: calc(100% - 190rpx);
    margin-right: 50rpx;
}

/*
* 商品参数
*/
.parameters-base .content-item .item {
    color: #666;
}
.goods-parameters .content-item .item {
    padding: 8rpx 10rpx;
    width: calc(50% - 20rpx);
}
.goods-parameters .content-item .item .name {
    margin-right: 10rpx;
}
.goods-parameters .content-item .item:nth-child(2n-1) {
    float: left;
}
.goods-parameters .content-item .item:nth-child(2n) {
    float: right;
}

/*
* icon
*/
.goods-icon-container view {
    border: 1px solid #3bb4f2;
    color: #3bb4f2;
    padding: 5rpx 15rpx;
    margin-bottom: 10rpx;
    display: inline-table;
    min-height: 32rpx;
    line-height: 32rpx;
}
.goods-icon-container view:not(:last-child) {
    margin-right: 10rpx;
}

/*
* 面板
*/
.goods-panel-container {
    background: #fffbfc;
    color: #d2354c;
}
.goods-panel-container view {
    padding: 15rpx 0;
}
.goods-panel-container view:not(:first-child) {
    border-top: 1px dashed #fff1f2;
}

/**
* 购买记录 - 插件
*/
.plugins-salerecords-tips,
.plugins-salerecords-tips-top-left,
.plugins-salerecords-tips-top-right,
.plugins-salerecords-tips-bottom-left,
.plugins-salerecords-tips-bottom-right,
.plugins-salerecords-tips-top-center,
.plugins-salerecords-tips-bottom-center {
    position: fixed;
    left: calc(50% - 170rpx);
    top: 50%;
    background: rgb(0 0 0 / 60%);
    border-radius: 60rpx;
    padding: 8rpx 20rpx;
    color: #fff;
    z-index: 50;
    -webkit-box-shadow: 0 8px 10px rgb(0 0 0 / 20%);
    -moz-box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 10px rgb(0 0 0 / 20%);
}
.plugins-salerecords-tips image,
.plugins-salerecords-tips-top-left image,
.plugins-salerecords-tips-top-right image,
.plugins-salerecords-tips-bottom-left image,
.plugins-salerecords-tips-bottom-right image,
.plugins-salerecords-tips-top-center image,
.plugins-salerecords-tips-bottom-center image {
    width: 50rpx;
    height: 50rpx;
    border-radius: 50%;
}
.plugins-salerecords-tips-top-left {
    left: 5%;
    top: 13%;
}
.plugins-salerecords-tips-top-right {
    right: 5%;
    top: 13%;
    left: auto;
}
.plugins-salerecords-tips-top-center {
    top: 13%;
}
/* #ifdef MP-ALIPAY  */
.plugins-salerecords-tips-top-left {
    top: 5%;
}
.plugins-salerecords-tips-top-right {
    top: 5%;
}
.plugins-salerecords-tips-top-center {
    top: 5%;
}
/* #endif  */
.plugins-salerecords-tips-bottom-left {
    left: 5%;
    bottom: 10%;
    top: auto;
}
.plugins-salerecords-tips-bottom-right {
    right: 5%;
    bottom: 10%;
    left: auto;
    top: auto;
}
.plugins-salerecords-tips-bottom-center {
    bottom: 10%;
    top: auto;
}

/**
* 多商户 - 插件
*/
.plugins-shop-logo {
    width: 120rpx;
    height: 120rpx !important;
}
.plugins-shop-title {
    font-size: 32rpx;
    font-weight: bold;
    line-height: 40rpx;
}
.plugins-shop-auth-icon {
    background-color: #f4c985;
    border: 1px solid #e7ba77;
    border-radius: 6rpx;
    color: #856651;
    text-align: center;
    padding: 2rpx 12rpx;
    font-size: 24rpx;
    font-weight: bold;
    margin-right: 10rpx;
}
.plugins-shop-desc {
    color: #888;
    font-size: 24rpx;
    min-height: 72rpx;
    line-height: 36rpx;
}

/*
* 优惠劵 - 插件
*/
.plugins-coupon-container-view .item {
    padding: 5rpx 15rpx;
    display: inline-table;
}
.plugins-coupon-container-view .item:not(:last-child) {
    margin-right: 10rpx;
}
.plugins-coupon-container {
    max-height: 50vh;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 20rpx;
}
.plugins-coupon-container .v-left {
    padding: 20rpx 10rpx 20rpx 20rpx;
}
.plugins-coupon-container .item:not(:last-child) {
    margin-bottom: 20rpx;
}
.plugins-coupon-container .item,
.plugins-coupon-container .v-right,
.plugins-coupon-container .v-right .circle {
    height: 175rpx;
}
.plugins-coupon-container .v-left .base .price {
    font-size: 46rpx;
}

/**
 * 批发 - 插件
 */
.plugins-wholesale-container-view .item {
    padding: 5rpx 15rpx;
    color: #ff6633;
    border: 1px dashed #ff9e7e;
    display: inline-table;
}
.plugins-wholesale-container-view .item:not(:last-child) {
    margin-right: 10rpx;
}
.plugins-wholesale-container {
    max-height: 50vh;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 20rpx;
}
.plugins-wholesale-container .item {
    width: calc(50% - 50rpx);
    margin-bottom: 20rpx;
}
.plugins-wholesale-container .item:nth-child(2n) {
    margin-left: 10rpx;
}
.plugins-wholesale-container .item:nth-child(2n+1) {
    margin-right: 10rpx;
}
.plugins-wholesale-container .spec-tips {
    color: #ffbf00;
    border: 1px solid #333;
    background: #333;
    padding: 2rpx 10rpx;
    top: 22rpx;
    left: 20rpx;
}

/**
 * 标签 - 插件
 */
.plugins-label navigator:not(:last-child) {
    margin-right: 20rpx;
}
.plugins-label navigator {
    margin-bottom: 20rpx;
}
.plugins-label-top-left,
.plugins-label-top-center,
.plugins-label-top-right {
    top: calc(var(--status-bar-height) + 130rpx);
}
.plugins-label-text {
    padding: 20rpx 20rpx 0 20rpx;
}
.plugins-label-bottom-left,
.plugins-label-bottom-center,
.plugins-label-bottom-right {
    bottom: 0;
}