/**
* 商品
*/
.goods-base {
    min-height: 160rpx;
    margin-left: 180rpx;
}
.goods-image {
    width: 160rpx;
    height: 160rpx;
}
.buy-number {
    right: 0;
    bottom: 0;
}

/**
* 类型选择
*/
.choose-type .choose-item {
    width: calc(50% - 60rpx);
    -webkit-transition: border-color .2s ease-in;
    -moz-transition: border-color .2s ease-in;
    -ms-transition: border-color .2s ease-in;
    -o-transition: border-color .2s ease-in;
    transition: border-color .2s ease-in;
}


.chat-head .chat-user-avatar {
    height: 90rpx;
}
.chat-head .chat-user-avatar .image {
    width: 80rpx;
    height: 80rpx;
}
.chat-head .chat-user-status {
    line-height: 28rpx;
    width: 28rpx;
    height: 28rpx;
    top: -26rpx;
    -webkit-box-shadow: 0px 0px 5px #9E9E9E;
    box-shadow: 0px 0px 5px #9E9E9E;
}
.chat-content {
    height: 800rpx;
}
.chat-content .chat-item .content {
    width: calc(100vw - 260rpx);
}
.chat-content .chat-item .image {
    width: 64rpx;
    height: 64rpx;
}
.chat-content .chat-item .content-image {
    max-width: 300rpx;
    max-height: 300rpx;
}
.chat-content .chat-item .content-video {
    max-width: 450rpx;
    max-height: 450rpx;
}
.chat-input,
.chat-input .chat-send-submit{
    height: 100rpx;
}
.chat-input .chat-send-input {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.chat-input .chat-send-submit {
    width: 240rpx;
    line-height: 100rpx;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}