/**
* 商品
*/
.goods-base {
    min-height: 160rpx;
    margin-left: 180rpx;
}
.goods-image {
    width: 160rpx;
    height: 160rpx;
}
.buy-number {
    right: 0;
    bottom: 0;
}

/**
* 类型选择
*/
.choose-type .choose-item {
    width: calc(50% - 60rpx);
    -webkit-transition: border-color .2s ease-in;
    -moz-transition: border-color .2s ease-in;
    -ms-transition: border-color .2s ease-in;
    -o-transition: border-color .2s ease-in;
    transition: border-color .2s ease-in;
}