.password {
    height: 100vh;
    background: #fff;
}

.password .form-item {
    height: 100rpx;
    line-height: 100rpx;
    background: #F9F9F9;
    border-radius: 50rpx;
    border: 0;
    padding: 0 36rpx;
    font-size: 30rpx;
}

.eyes {
    right: 32rpx;
    top: calc(50% - 12rpx);
    z-index: 2;
}