.password {
    height: 100vh;
    background: #fff;
}

.password .form-item {
    height: 100rpx;
    line-height: 100rpx;
    background: #F9F9F9;
    border-radius: 50rpx;
    border: 0;
}

.password .form-item ::v-deep .input-placeholder,
.password .form-item ::v-deep .uni-input-input {
    padding: 0 36rpx;
    font-size: 30rpx;
}