.address-logo {
    width: 140rpx;
    height: 140rpx !important;
}
.address .item-icon {
    width: 25rpx;
    height: 28rpx !important;
}
.address-alias {
    padding: 0 10rpx;
}
.address .text {
    line-height: 44rpx;
    width: calc(100% - 35rpx);
}