/**
 * 顶部内容
 */
.top-content {
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 100%;
    min-height: 300rpx;
    padding-top: var(--status-bar-height);
}

/**
 * 头部
 */
.head-base {
    padding-top: 35rpx;
}
/* #ifdef H5 || APP */
.head-base {
    margin-bottom: 25rpx;
}
/* #endif */
.head-avatar {
    width: 120rpx;
    height: 120rpx !important;
}

/**
 * 头部导航
 */
.head-nav-item {
    width: 25%;
}
.head-nav-item .nav-value,
.head-nav-item .nav-name {
    line-height: 46rpx;
}
/**
 * 头部右上角
 */
.head-right {
    z-index: 10;
    right: 30rpx;
    top: 110rpx;
}
.head-right .item .icon {
    width: 35rpx;
    height: 35rpx;
}
.head-right .item .badge-icon {
    top: -10px;
    right: -2px;
}

/**
 * 行内导航列表
 */
.nav-list .nav-item {
    box-sizing: border-box;
}
.nav-list .nav-item .item-icon {
    width: 40rpx;
    height: 40rpx;
}
.nav-list .nav-item .item-desc {
    margin-right: 50rpx;
    margin-top: 2rpx;
    width: calc(100% - 300rpx);
}
.nav-list .nav-item .item-arrow {
    width: 25rpx;
}
.nav-list-sub {
    padding: 20rpx 0;
}
.nav-list-sub .item {
    width: 20%;
}
.nav-list-sub .item .item-icon {
    width: 50rpx;
    height: 50rpx;
}
.nav-list-sub .item .badge-icon {
    top: -2px;
    left: calc(50% + 35rpx);
    z-index: 1;
}

/**
 * 聚合导航
 */
.nav-box .nav-item {
    box-sizing: border-box;
    width: 25%;
}
.nav-box .nav-item .item-icon {
    width: 45rpx;
    height: 45rpx !important;
}
.nav-box .nav-item .item-desc {
    margin-right: 50rpx;
    margin-top: 2rpx;
    width: calc(100% - 300rpx);
}