/**
 * 导航搜索、内容区域
 */
.nav-search {
    padding-right: 250rpx;
    /* #ifdef MP-ALIPAY */
    padding-right: 255rpx;
    /* #endif */
    /* #ifdef H5 || APP */
    padding-right: 20rpx;
    /* #endif */
    /* #ifdef MP-TOUTIAO */
    padding-right: 20rpx;
    /* #endif */
    padding-bottom: 10px;
}
.category-content {
    height: calc(100vh - 68px);
    /* #ifdef H5 || APP */
    height: calc(100vh - 98px) !important;
    /* #endif */
}

/**
* 左侧导航
*/
.left-nav {
    width: 200rpx;
}
.left-nav .item {
    height: 80rpx;
    line-height: 80rpx;
    padding: 0 10rpx;
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
}
.left-nav .item:not(:last-child) {
    border-bottom: 1px solid #f1f1f1 !important;
}
.nav-active {
    background: #f5f5f5;
    border-width: 0 0 0 3px;
    border-right: 3px solid #f5f5f5 !important;
    font-weight: bold;
}

/**
*  右侧内容
*/
.right-container {
    width: calc(100% - 200rpx);
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    top: 0;
    right: 0;
    background: #f5f5f5;
}
.content-item {
    display: -webkit-inline-box;
    width: calc(33.33% - 20rpx);
}
.content-item .content {
    padding: 15rpx 0;
}
.content-item .text {
    font-size: 28rpx;
    line-height: 46rpx;
}
.content-item .icon {
    width: 100%;
    height: 120rpx;
}
.model-one .content-item:nth-child(3n) {
    border-right: 0;
}


/**
 * 商品列表模式
 */
.category-content.goods-model {
    padding-top: 150rpx;
}
.top-nav {
    height: 150rpx;
    top: 0;
    left: 0;
    z-index: 2;
}
.top-nav .icon-content {
    width: 80rpx;
    height: 80rpx;
    padding: 1px;
}
.top-nav .item {
    height: 180rpx;
    padding: 0 15rpx;
}
.goods-right-content {
    width: calc(100% - 200rpx);
    height: calc(100% - 150rpx);
    top: 150rpx;
    right: 0;
    background: #f5f5f5;
}
.goods-right-content .word-list {
    position: sticky;
    top: 0;
    right: 0;
    background: #f5f5f5;
    z-index: 1;
    padding: 0px 1px 20rpx 1px;
}
.goods-list .goods-img {
    width: 190rpx;
    height: 190rpx !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.goods-list .goods-base {
    width: calc(100% - 220rpx);
}
.goods-list .goods-base-content {
    min-height: 100rpx;
}
.goods-list .goods-base .simple-desc {
    line-height: 30rpx;
    min-height: 30rpx;
    max-height: 58rpx;
}
.goods-list .goods-base .sales-price {
    width: calc(100% - 320rpx);
    left: 210rpx;
    bottom: 10rpx;
}
.goods-list .goods-base .buy-opt {
    right: 10rpx;
    bottom: 6rpx;
}
.goods-list .goods-base .buy-number {
    min-width: 32rpx;
}