/**
 * 导航搜索、内容区域
 */
.nav-search {
    padding-right: 250rpx;
    /* #ifdef MP-ALIPAY */
    padding-right: 255rpx;
    /* #endif */
    /* #ifdef H5 || APP */
    padding-right: 20rpx;
    /* #endif */
    padding-bottom: 10px;
}
.category-content {
    height: calc(100vh - 68px);
    /* #ifdef H5 || APP */
    height: calc(100vh - 98px) !important;
    /* #endif */
}

/**
* 左侧导航
*/
.left-nav {
    width: 210rpx;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
.left-nav .items {
    height: 100rpx;
    line-height: 100rpx;
    font-size: 32rpx;
    padding: 0 10rpx;
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
    overflow: hidden;
}
.left-nav .items:not(:last-child) {
    border-bottom: 1px solid #f1f1f1 !important;
}
.nav-active {
    background: #f5f5f5;
    border-width: 0 0 0 3px;
    border-right: 3px solid #f5f5f5 !important;
    font-weight: bold;
}

/**
*  右侧内容
*/
.right-container {
    width: calc(100% - 210rpx);
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    top: 0;
    right: 0;
    background: #f5f5f5;
}
.content-item {
    display: -webkit-inline-box;
    width: calc(33.33% - 20rpx);
}
.content-item .content {
    padding: 15rpx 0;
}
.content-item .text {
    font-size: 28rpx;
    line-height: 46rpx;
}
.content-item .icon {
    width: 100%;
    height: 120rpx;
}
.model-one .content-item:nth-child(3n) {
    border-right: 0;
}