/**
 * 导航搜索、内容区域
 */
.nav-search {
    padding-right: 250rpx;
    /* #ifdef MP-ALIPAY */
    padding-right: 255rpx;
    /* #endif */
    /* #ifdef H5 || MP-TOUTIAO || APP */
    padding-right: 20rpx;
    /* #endif */
    padding-bottom: 10px;
}
.category-content {
    height: calc(100vh - 68px);
    /* #ifdef H5 || APP */
    height: calc(100vh - 98px) !important;
    /* #endif */
}

/**
* 左侧导航
*/
.left-content-actual {
    padding-bottom: 120rpx;
}
.left-nav {
    width: 200rpx;
}
.left-nav .item {
    height: 80rpx;
    line-height: 80rpx;
    padding: 0 10rpx;
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
}
.left-nav .item:not(:last-child) {
    border-bottom: 1px solid #f1f1f1 !important;
}
.nav-active {
    background: #f5f5f5;
    border-width: 0 0 0 3px;
    border-right: 3px solid #f5f5f5 !important;
    font-weight: bold;
}

/**
*  右侧内容
*/
.right-container {
    width: calc(100% - 200rpx);
    height: 100%;
    top: 0;
    right: 0;
    background: #f5f5f5;
}
.content-item {
    display: -webkit-inline-box;
    width: calc(33.33% - 20rpx);
}
.content-item .content {
    padding: 15rpx 0;
}
.content-item .text {
    font-size: 28rpx;
    line-height: 46rpx;
}
.content-item .icon {
    width: 100%;
    height: 120rpx;
}
.model-one .content-item:nth-child(3n) {
    border-right: 0;
}


/**
 * 商品列表模式
 */
.category-content.goods-model {
    padding-top: 150rpx;
}
.top-nav {
    height: 150rpx;
    top: 0;
    left: 0;
    z-index: 2;
}
.top-nav .icon-content {
    width: 80rpx;
    height: 80rpx;
    padding: 1px;
}
.top-nav .item {
    height: 180rpx;
    padding: 0 15rpx;
}
.right-content-actual {
    padding-bottom: 105rpx;
}
.goods-right-content {
    width: calc(100% - 200rpx);
    height: calc(100% - 150rpx);
    top: 150rpx;
    right: 0;
    background: #f5f5f5;
}
.goods-right-content .word-list {
    position: sticky;
    top: 0;
    right: 0;
    background: #f5f5f5;
    z-index: 1;
    padding: 0px 1px 20rpx 1px;
}
.goods-list .goods-img {
    width: 190rpx;
    height: 190rpx !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.goods-list .goods-base {
    width: calc(100% - 220rpx);
}
.goods-list .goods-base-content {
    min-height: 100rpx;
}
.goods-list .goods-base .simple-desc {
    line-height: 30rpx;
    min-height: 30rpx;
    max-height: 58rpx;
}
.goods-list .goods-base .sales-price {
    width: calc(100% - 320rpx);
    left: 210rpx;
    bottom: 10rpx;
}
.goods-list .goods-base .buy-opt {
    right: 10rpx;
    bottom: 6rpx;
}
.goods-list .goods-base .buy-number {
    min-width: 32rpx;
}

/**
 * 底部导航
 */
.botton-nav {
    width: calc(100% - 40rpx);
    left: auto;
    bottom: 20rpx;
    line-height: 80rpx;
    z-index: 6;
    max-width: calc(800px - 40rpx);
    margin-left: 20rpx;
}
.botton-nav .cart .badge-icon {
    top: -20rpx;
    right: -2rpx;
}
.botton-nav .cart-total-price {
    width: calc(100% - 260rpx);
}
.botton-nav button {
    top: 0;
    right: 0;
    line-height: 88rpx;
    height: 88rpx;
    border: 0;
    /* #ifdef MP-QQ */
    padding-top: 0;
    padding-bottom: 0;
    /* #endif */
}

/**
 * 购物车
 */
.cart-mask {
    left: 0;
    top: 0;
    background: rgb(0, 0, 0, 0.6);
    z-index: 5;
}
.cart-content {
    left: auto;
    bottom: 130rpx;
    width: calc(100% - 40rpx);
    z-index: 6;
    max-width: calc(800px - 40rpx);
    margin-left: 20rpx;
}
.cart-content .cart-list {
    max-height: 60vh;
}
.cart-content .cart-list .goods-img {
    width: 120rpx;
    height: 120rpx !important;
}
.cart-content .cart-list .goods-base {
    width: calc(100% - 140rpx);
}
.cart-content .cart-list .goods-base-content {
    min-height: 60rpx;
}

/**
 * 规格选择弹窗
 */
.goods-spec-popup .close {
    position: absolute;
    top: 20rpx;
    right: 20rpx;
    z-index: 2;
}
.goods-spec-popup-base {
    height: 180rpx;
}
.goods-spec-popup-base image {
    width: 150rpx;
    height: 150rpx;
    position: absolute;
    left: 0;
    top: 0;
}
.goods-spec-popup-base-content {
    position: absolute;
    left: 170rpx;
    top: 0;
}
.goods-spec-popup-base-content .goods-price {
    margin-bottom: 10rpx;
}
.goods-spec-popup-content {
    max-height: 50vh;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 20rpx;
}
.goods-spec-choose .item {
    margin-bottom: 30rpx;
    padding-bottom: 30rpx;
}
.goods-spec-choose .item .spec button {
    margin-right: 25rpx;
    padding: 0 30rpx;
    background-color: #f5f5f5;
    color: #666;
    height: 60rpx;
    line-height: 50rpx !important;
    border: 1px solid #ccc;
}
.goods-spec-choose .item .spec button image {
    width: 40rpx;
    height: 40rpx !important;
}
.spec-dont-choose {
    color: #b4b3b3 !important;
    background-color: #ffffff !important;
    border: 1px solid #ebeaea !important;
}
.spec-dont-choose image {
    opacity: 0.5;
}
.spec-items-disabled {
    color: #d2cfcf !important;
    background-color: #ffffff !important;
    border: 1px dashed #d5d5d5 !important;
}
.spec-items-disabled image {
    opacity: 0.3;
}
.goods-spec-choose .item .spec button,
.goods-spec-popup-submit {
    border-radius: 50rpx;
}
.goods-spec-popup-submit {
    height: 85rpx;
    line-height: 85rpx;
    font-size: 36rpx;
    margin-top: 20rpx;
    border: 0;
}