.panel-item .item:not(:first-child) {
    border-top: 1px solid #f5f5f5 !important;
}
.user-avatar {
    width: 80rpx;
    height: 80rpx !important;
}

/**
 * 多语言
 */
.popup-language {
    height: 100vh;
}

.popup-language .list {
    height: calc(100vh - 95rpx);
    overflow-y: auto;
}