@font-face {
	font-family: "iconfont";
	/* Project id 4227145 */
	/* 全局注册需要切换成绝对路径 */
	/* @/static/icon/ */
	src: url('@/static/icon/iconfont.woff2?t=1693280977762') format('woff2'),
		url('@/static/icon/iconfont.woff?t=1693280977762') format('woff'),
		url('@/static/icon/iconfont.ttf?t=1693280977762') format('truetype'),
		url('@/static/icon/iconfont.svg?t=1693280977762#iconfont') format('svg');
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-index-notice:before {
	content: "\e6a8";
}

.icon-index-search:before {
	content: "\e6a9";
}

.icon-applet-me-settings-acquiesce:before {
	content: "\e6a6";
}

.icon-applet-me-message-acquiesce:before {
	content: "\e6a7";
}

.icon-applet-me-acquiesce:before {
	content: "\e6a2";
}

.icon-applet-sort-acquiesce:before {
	content: "\e6a5";
}

.icon-applet-index-acquiesce:before {
	content: "\e6a4";
}

.icon-applet-shop-acquiesce:before {
	content: "\e6a3";
}