@font-face {
    font-family: "iconfont";
    /* Project id 4227145 */
    /* 全局注册需要切换成绝对路径 */
    /* @/static/icon/ */
    src: url('@/static/icon/iconfont.ttf?t=1693280977762') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-left:before {
    content: "\e755";
}

.icon-reset:before {
    content: "\e756";
}

.icon-radius-l-t:before {
    content: "\e757";
}

.icon-right:before {
    content: "\e754";
}

.icon-radius-r-b:before {
    content: "\e758";
}

.icon-arrow-bottom1:before {
    content: "\e759";
}

.icon-elliptic:before {
    content: "\e75a";
}

.icon-out-t:before {
    content: "\e75b";
}

.icon-enter-r:before {
    content: "\e75c";
}

.icon-single-sheet:before {
    content: "\e752";
}

.icon-spread-over:before {
    content: "\e753";
}

.icon-enter-l:before {
    content: "\e75d";
}

.icon-round-dot:before {
    content: "\e75e";
}

.icon-enter-b:before {
    content: "\e75f";
}

.icon-search:before {
    content: "\e760";
}

.icon-tile:before {
    content: "\e761";
}

.icon-center:before {
    content: "\e762";
}

.icon-enter-t:before {
    content: "\e763";
}

.icon-close:before {
    content: "\e764";
}

.icon-edit:before {
    content: "\e765";
}

.icon-text:before {
    content: "\e766";
}

.icon-auxiliary-line:before {
    content: "\e767";
}

.icon-img:before {
    content: "\e768";
}

.icon-out-l:before {
    content: "\e769";
}

.icon-out-b:before {
    content: "\e76a";
}

.icon-del:before {
    content: "\e76b";
}

.icon-drag:before {
    content: "\e76c";
}

.icon-out-r:before {
    content: "\e76d";
}

.icon-line-point:before {
    content: "\e76e";
}

.icon-del-o:before {
    content: "\e76f";
}

.icon-copy1:before {
    content: "\e770";
}

.icon-line:before {
    content: "\e772";
}

.icon-close-o1:before {
    content: "\e773";
}

.icon-radius-r-t:before {
    content: "\e774";
}

.icon-radius-l-b:before {
    content: "\e775";
}

.icon-arrow-top1:before {
    content: "\e738";
}

.icon-arrow-left1:before {
    content: "\e73f";
}

.icon-arrow-right1:before {
    content: "\e737";
}

.icon-add:before {
    content: "\e720";
}

.icon-eye-close:before {
    content: "\e776";
}

.icon-eye:before {
    content: "\e777";
}

.icon-true-o:before {
    content: "\e77a";
}

.icon-error-img:before {
    content: "\e77b";
}

.icon-folder:before {
    content: "\e77c";
}

.icon-file:before {
    content: "\e77d";
}

.icon-vf:before {
    content: "\e77e";
}

.icon-video:before {
    content: "\e77f";
}

.icon-zip:before {
    content: "\e780";
}

.icon-ipa:before {
    content: "\e781";
}

.icon-excel:before {
    content: "\e782";
}

.icon-vsd:before {
    content: "\e783";
}

.icon-apk:before {
    content: "\e784";
}

.icon-word:before {
    content: "\e785";
}

.icon-pdf:before {
    content: "\e787";
}

.icon-ppt:before {
    content: "\e788";
}

.icon-cart:before {
    content: "\e791";
}

.icon-true:before {
    content: "\e741";
}

.icon-upload:before {
    content: "\e72b";
}

.icon-shu2:before {
    content: "\e786";
}

.icon-heng2:before {
    content: "\e789";
}

.icon-a-4x4:before {
    content: "\e78a";
}

.icon-zuo1you2:before {
    content: "\e78b";
}

.icon-shu3:before {
    content: "\e78c";
}

.icon-shang2xia1:before {
    content: "\e78d";
}

.icon-zuo1youshang1youxia2:before {
    content: "\e78e";
}

.icon-shang1xia2:before {
    content: "\e78f";
}

.icon-tianzige:before {
    content: "\e790";
}

.icon-shang2xia3:before {
    content: "\e792";
}

.icon-zuo2you1:before {
    content: "\e793";
}

.icon-a-1ge:before {
    content: "\e794";
}

.icon-EXE:before {
    content: "\e795";
}

.icon-txt:before {
    content: "\e796";
}

.icon-arrow-right-dbl:before {
    content: "\e7b6";
}

.icon-tips:before {
    content: "\e74a";
}

.icon-commodity-edit:before {
    content: "\e797";
}

.icon-ellipsis:before {
    content: "\e635";
}

.icon-arrow-right-o:before {
    content: "\e799";
}

.icon-close-b:before {
    content: "\e745";
}

.icon-a-miaosha:before {
    content: "\e79a";
}

.icon-jinzhi:before {
    content: "\e79c";
}

.icon-tubiao:before {
    content: "\e79d";
}

.icon-mianxingtubiao_baojieguanli:before {
    content: "\e64d";
}

.icon-bofang:before {
    content: "\e798";
}

.icon-checked-1:before {
    content: "\e778";
}

.icon-gift-fine:before {
    content: "\e771";
}

.icon-enlarge:before {
    content: "\e60d";
}

.icon-enlarge-four:before {
    content: "\e602";
}

.icon-enlarge-border:before {
    content: "\e6f2";
}

.icon-map-navigator:before {
    content: "\10183";
}

.icon-down-mark:before {
    content: "\e729";
}

.icon-sigh-o:before {
    content: "\e71f";
}

.icon-copy:before {
    content: "\e71e";
}

.icon-transfer-count:before {
    content: "\e71b";
}

.icon-collection:before {
    content: "\e71c";
}

.icon-convert2:before {
    content: "\e71d";
}

.icon-cash:before {
    content: "\e717";
}

.icon-recharge:before {
    content: "\e718";
}

.icon-convert:before {
    content: "\e719";
}

.icon-detail:before {
    content: "\e71a";
}

.icon-store:before {
    content: "\e6f3";
}

.icon-star:before {
    content: "\e6ef";
}

.icon-location:before {
    content: "\e6f0";
}

.icon-message:before {
    content: "\e6f1";
}

.icon-login-language:before {
    content: "\e6ed";
}

.icon-login-down-arrow:before {
    content: "\e6ee";
}

.icon-delete:before {
    content: "\e6ec";
}

.icon-checked:before {
    content: "\e6eb";
}

.icon-a-Shoppingcart1107:before {
    content: "\e6e7";
}

.icon-me1107:before {
    content: "\e6e8";
}

.icon-classify1107:before {
    content: "\e6e9";
}

.icon-index1107:before {
    content: "\e6ea";
}

.icon-payment-fail:before {
    content: "\e6e6";
}

.icon-keyboard-backspace:before {
    content: "\e6e5";
}

.icon-transfer:before {
    content: "\e6e4";
}

.icon-wytw-sctp:before {
    content: "\e6e3";
}

.icon-xzzx-shij:before {
    content: "\e6e2";
}

.icon-xzzx-rhaz:before {
    content: "\e6e0";
}

.icon-xzzx-kfwd:before {
    content: "\e6e1";
}

.icon-wenda-wytw:before {
    content: "\e6de";
}

.icon-wenda-wdtw:before {
    content: "\e6df";
}

.icon-bowenxiangqing-dianzan-xuaz:before {
    content: "\e6dd";
}

.icon-bowenxiangqing-fenxiang:before {
    content: "\e6dc";
}

.icon-bowenxiangqing-huifu:before {
    content: "\e6ce";
}

.icon-bowenxiangqing-dianzan:before {
    content: "\e6da";
}

.icon-wodeqianbao-eyeclo2:before {
    content: "\e6db";
}

.icon-zuhedap-shoping:before {
    content: "\e6d9";
}

.icon-wdhy-gaoji:before {
    content: "\e6d8";
}

.icon-qrcode:before {
    content: "\e6d7";
}

.icon-wdfx-ptfx:before {
    content: "\e6c6";
}

.icon-wdfx-gjfx:before {
    content: "\e6d5";
}

.icon-xzdz-tianjiabiaoq:before {
    content: "\e6d6";
}

.icon-xzdz-dingwei:before {
    content: "\e6d2";
}

.icon-wddz-bianji:before {
    content: "\e6d3";
}

.icon-bjdz-guanbi:before {
    content: "\e6d4";
}

.icon-arrow-left:before {
    content: "\e6d1";
}

.icon-scan:before {
    content: "\e6cf";
}

.icon-wodeqianbao-eye:before {
    content: "\e6d0";
}

.icon-mendian-dingwei:before {
    content: "\e6cd";
}

.icon-zhifu-yixuan:before {
    content: "\e6ca";
}

.icon-zhifu-weixuan:before {
    content: "\e6cb";
}

.icon-arrow-bottom:before {
    content: "\e6cc";
}

.icon-close-o:before {
    content: "\e6c9";
}

.icon-kaitonghuiy-dingdan:before {
    content: "\e6c8";
}

.icon-miaosha-hdgz:before {
    content: "\e6c7";
}

.icon-mendian-sc:before {
    content: "\e6c4";
}

.icon-mendian-kefu:before {
    content: "\e6c5";
}

.icon-qiandao-tancguanbi:before {
    content: "\e6c3";
}

.icon-qiandao-dqxz:before {
    content: "\e6bc";
}

.icon-share-square:before {
    content: "\e6bd";
}

.icon-qiandao-wdqd:before {
    content: "\e6be";
}

.icon-qiandao-zudui:before {
    content: "\e6bf";
}

.icon-arrow-right-round:before {
    content: "\e6c0";
}

.icon-qiandao-yixuan:before {
    content: "\e6c1";
}

.icon-arrow-right:before {
    content: "\e6c2";
}

.icon-zhibo-shixiao:before {
    content: "\e6bb";
}

.icon-cart-dec:before {
    content: "\e6ba";
}

.icon-cart-inc:before {
    content: "\e6b9";
}

.icon-arrow-top:before {
    content: "\e6b8";
}

.icon-categroy-more:before {
    content: "\e6b7";
}

.icon-zhibo-time:before {
    content: "\e6b3";
}

.icon-pp-all:before {
    content: "\e6b4";
}

.icon-zhibo-zt:before {
    content: "\e6b5";
}

.icon-zhibo-jies:before {
    content: "\e6b6";
}

.icon-md-phone:before {
    content: "\e6b1";
}

.icon-md-dh:before {
    content: "\e6b2";
}

.icon-index-zxmd-phone:before {
    content: "\e6ac";
}

.icon-index-zxmd-dh:before {
    content: "\e6ad";
}

.icon-index-zxmd-time:before {
    content: "\e6ae";
}

.icon-index-zxmd-dress:before {
    content: "\e6af";
}

.icon-index-notice:before {
    content: "\e6a8";
}

.icon-index-search:before {
    content: "\e6a9";
}

.icon-applet-me-settings-acquiesce:before {
    content: "\e6a6";
}

.icon-applet-me-message-acquiesce:before {
    content: "\e6a7";
}

.icon-applet-me-acquiesce:before {
    content: "\e6a2";
}

.icon-applet-sort-acquiesce:before {
    content: "\e6a5";
}

.icon-applet-index-acquiesce:before {
    content: "\e6a4";
}

.icon-applet-shop-acquiesce:before {
    content: "\e6a3";
}