@font-face {
  font-family: "iconfont"; /* Project id 4227145 */
  src: url('iconfont.woff2?t=1693277237003') format('woff2'),
       url('iconfont.woff?t=1693277237003') format('woff'),
       url('iconfont.ttf?t=1693277237003') format('truetype'),
       url('iconfont.svg?t=1693277237003#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-applet-me-settings-acquiesce:before {
  content: "\e6a6";
}

.icon-icon-applet-me-message-acquiesce:before {
  content: "\e6a7";
}

.icon-icon-applet-me-acquiesce:before {
  content: "\e6a2";
}

.icon-icon-applet-sort-acquiesce:before {
  content: "\e6a5";
}

.icon-icon-applet-index-acquiesce:before {
  content: "\e6a4";
}

.icon-icon-applet-shop-acquiesce:before {
  content: "\e6a3";
}

